@model HomeViewModel
<div class="container mb-2 mt-1 text-light row">
        @foreach (var item in Model.Products)
        {
            <div class="col-4">
                <div class="row">
                    <div class="col text-center">
                        <img src="@item.ImgUrl" alt="Product" class="icon-product"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h3>@item.Name</h3>
                    </div>
                </div>
                <div class="text-justify row">
                    <p>@item.Description</p>
                </div>
                <div class="row">
                    <div class="col">
                        <a asp-action="AboutProduct" asp-controller="Product" asp-route-productId="@item.ProductId" class="btn-primary btn">Подробности</a>
                    </div>
                    <div class="col">
                        <p>@item.Price.ToString("c")</p>
                    </div>
                </div>
            </div>
        }
</div>
